name: Potree Converter Workflow

permissions:
  contents: write

on:
  push:
    paths:
      - 'data/raw/**/*.laz'
      - 'data/raw/**/*.las'

  workflow_dispatch:

jobs:
  potree-converter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with: 
          lfs: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Potree binary
        run: |
          mkdir -p potree
          curl -L -o PotreeConverter.zip https://github.com/potree/PotreeConverter/releases/download/2.1.1/PotreeConverter_2.1.1_x64_linux.zip
          unzip PotreeConverter.zip
          mv PotreeConverter_linux_x64/* potree/
          rm -rf PotreeConverter_linux_x64 PotreeConverter.zip
          chmod +x potree/PotreeConverter

      - name: Convert new point cloud files to Potree format
        run: |
          mkdir -p data/potree
          LD_LIBRARY_PATH=./potree potree/PotreeConverter -h
          LD_LIBRARY_PATH=./potree  potree/PotreeConverter data/raw/ -o data/potree/ -p index
          
      - name: Commit and push converted files
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/potree/
          git commit -m "Add converted Potree files" || echo "No changes to commit"
          git push origin HEAD:${{ github.ref_name }}
