on:
  push:
    paths:
      - 'data/raw/**/*.laz'
      - 'data/raw/**/*.las'

  workflow_dispatch:

jobs:
  potree-converter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with: 
          lfs: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Potree binary
        run: |
          curl -L -o PotreeConverter.zip https://github.com/potree/PotreeConverter/releases/download/2.1.1/PotreeConverter_2.1.1_x64_linux.zip
          unzip PotreeConverter.zip
          chmod +x PotreeConverter_linux_x64/PotreeConverter

      - name: Convert new point cloud files to Potree format
        run: |
          PotreeConverter_linux_x64/PotreeConverter data/raw/ -o data/potree/ -laz -generate-page page_name -overwrite
          
      - name: Upload converted Potree files as artifact
        uses: actions/upload-artifact@v4
        with:
          name: potree-converted
          path: data/potree/
